#demobox {
    background-color: #E1C16E ;
    height: 175px;
    padding: 15px;
    width: auto;
    text-align: center;
    align-self: center;
    font-family: 'Open Sans-Bold';
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  h3{
  text-align: center;
}
size{
  height: fit-content;
  width: fit-content;
}
.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.center3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h4{
  font-family: 'Open Sans-Bold';
}